@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-group">
        <form class="" action="/stylists" method="post">
            <label for="stylist">Add a stylist</label>
            <input type="text" name="stylist" id="stylist">
            <button type="submit" name="button">Add</button>
        </form>
    </div>
</div>
